@import "c64.scss";
/*@import "bootstrap.css";*/
@import "tools.css";

body {
    font-family: 'c64';
    font-size: 16px;
}

.screen-border {
    background-color: $lightblue;
}

.container {
    text-align: center;
}

.screen-main {
    display: inline-block;
    background-color: $blue;
    margin: auto;
    position: relative;
    padding: 20px 40px;
}


#video-placeholder {
    position: absolute;
    width: 640px;
    height: 480px;
}

.title {
    position: absolute;
    color: $green;
    bottom: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    padding: 20px;
}

.c64 {
    font-family: 'c64';
    font-size: 16px;
    background-color: $blue;
    color: $white;
    padding: 16px;
    line-height: 24px;

    a {
        color: $cyan;

    }
}

.credits {
    margin-top: 10px;
    margin-bottom: 16px;


    background-color: $lightblue;

    a {
        color: $blue;
    }
}

.snapshot {
    position: absolute;
    bottom: 0;
    right:0;
}

.arrow {
       &:before {
            content: "";
            padding-left: 8px;
            display: inline-block;
            position: relative;
            -moz-transform: rotate(-180deg);
            -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
        }
}

.arrow-up {
       &:before {
            content: "";
            padding-left: 8px;
            display: inline-block;
            position: relative;
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            padding-top: 10px;
        }
}

.intro {
    width: 640px;
    margin: auto;
    text-align: left;
    margin-bottom: 24px;
}

button {
    display: inline-block;
    font-size: 16px;
    border: 0;
    background-color: black;
    color: #EEE;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    font-family: c64;
}

.explain {
    position :fixed;
    top: 50px;
}

