@import "c64.scss";
/*@import "bootstrap.css";*/
@import "tools.css";

body {
    font-family: 'c64';
    font-size: 16px;
}

.screen-border {
    background-color: $lgrey;
}

.container {
    text-align: center;
}

.screen-main {
    display: inline-block;
    background-color: $blue;
    margin: auto;
    position: relative;
    padding: 40px;
}


#video-placeholder {
    position: absolute;
    width: 640px;
    height: 480px;
}

.title {
    position: absolute;
    width: 600px;
    bottom: 40px;
    left: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    text-align: left;
}

.c64 {
    font-family: 'c64';
    font-size: 16px;
    background-color: $lgrey;
    color: $white;
    padding: 16px;
    line-height: 24px;

    a {
        color: $orange;
    }
}

.credits {
    margin-top: 10px;
    margin-bottom: 16px;
    color: $darkgrey;
    a {
        color: $blue;
    }
}

.snapshot {
    position: absolute;
    bottom: 0;
    right:0;
}

.arrow {
       &:before {
            content: "";
            padding-left: 8px;
            display: inline-block;
            position: relative;
            -moz-transform: rotate(-180deg);
            -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
        }
}

.arrow-up {
       &:before {
            content: "";
            padding-left: 8px;
            display: inline-block;
            position: relative;
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            padding-top: 10px;
        }
}

.intro {
    width: 640px;
    margin: auto;
    text-align: left;
    margin-bottom: 24px;
    background-color: $darkgrey;
}

button {
    display: inline-block;
    font-size: 16px;
    border: 0;
    background-color: black;
    color: #EEE;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    font-family: c64;
}

.explain {
    position :fixed;
    top: 50px;
    background-color: $blue;
}

.social-media-panel {
    position: fixed;
    top: 0;
    right: 10px;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
    width: 112px;
    height: 68px;
    overflow: hidden;

    border-radius: 0px 0px 5px 5px;

    .fb-like {
        top: -2px;
    }
}

.firefox-warning {
    position: fixed;
    right:10px;
    top: 100px;
    width: 220px;

    background-color: $red;

    a {
        color: $lgrey;
    }
    .close-button {
        position: absolute;
        right: 10px;
        top: 10px;
        color: $black;

        &:hover {
            color: $yellow;
        }
    }
}
